#galeria .col-lg-4 {
    margin:0 !importan;
    padding: 25px;
}

#galeria img {
width: 100%;
height: 550px;
}

#galeria img:hover {
    border: 5px solid #f7f7ff;
}


body {
    font-family: 'Arial', sans-serif;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .text-overlay .main-text {
    font-size: 2em; 
    margin: 0; 
  }
  
  .text-overlay .sub-text {
    font-size: 1em; 
    margin: 0; 
  }
  